# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public
.idea/

node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
